.THIS #formGroupInputSmall6{
    margin-top: 7px !important;
    box-shadow: none;
    background-color: #e8eaeb;
    height: 22px;margin: 0 6px 0 0;
    border: 1px solid #c3c6c9;
    padding: 0;width: 22px;
    vertical-align: middle;
}
.THIS .newUserCont{
    width: 90%;
	margin: auto;
}
.THIS #checkTitle{
    color: #2c75a3;
    font-weight: 700;
}
.THIS #outcheck input{
    margin-top: 7px !important;
    box-shadow: none;
    background-color: #e8eaeb;
    height: 22px;margin: 0 6px 0 0;
    border: 1px solid #c3c6c9;
    padding: 0;width: 22px;
    vertical-align: middle;
    float:right;
}
.THIS #showOps{
    cursor: pointer;
}
.THIS  #titleToClone{
    text-align: center;
}