.THIS .header-text {
    display: flex;
    justify-content: flex-end;
}
.THIS .space-left {
    padding-left: 5px;
}
.THIS .header-btns-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}


.THIS .no-data {
    text-align: center;
    color: red;
    font-weight: 700;
    font-size: larger;
}
.THIS .toggle-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.THIS .inline {
    display: inline-table;
}

.THIS .manage-users-title h1 {
    font-size: var(--lwc-fontSize5,1rem);
}

.THIS .manage-users-title h2 {
    font-size: var(--lwc-fontSize3,0.8125rem);
}

.THIS .manage-users-permission{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.THIS .manage-users-button {
    margin-top: 3px;
}

.THIS .popoverfix{
    position: absolute !important;
}

.THIS .myTest{
    background-color: white;
}

.THIS .slds-section.slds-is-open .slds-section__content{
    padding: 10px;
}