.THIS.header{
    
    width: 100%;
    float:left;
}
.THIS .logo{
    float: left;
    width: 100%;
    
}
.THIS .tia{
    width: 50px;
height: 50px;
background-color: rgb(127, 192, 255);
    
}
.THIS .form-control{
    margin-bottom: 7px;
    
}
.THIS .imgLogo{
    width: 100%;
}

.THIS .contImg{
    max-width: 1140px;
    margin: auto;
    width: 90%;
}
.THIS .info{
margin-top: 4%;
margin-bottom: 4%;
    float: left;
    width: 100%;
}
.THIS .infoCont {
    margin: auto;
	width: 269px;
    margin-bottom: 6%;
}
.THIS .inputSearch{
    width: 100%;
}
.THIS .inputSearchCont{
    margin: auto;
    width: 80%;
}