<template>
    <template if:true={showSearchPanel}>
        <div class="slds-card">
            <c-lwc-clone-this-user-main onuserselected={handleUserSelected} contained={contained} isutility={isutility}>
            </c-lwc-clone-this-user-main>
        </div>
    </template>
    <template if:true={showClonePanel}>
        <c-lwc-clone-this-user-form user-id={selectedUserId} oncancel={handleCancel} contained={contained}
            onusercreated={handleUserCreated}></c-lwc-clone-this-user-form>
    </template>
    <template if:true={showResultPanel}>
        <c-lwc-clone-this-user-detail onback={handleBack} oncloneagain={handleCloneAgain} result-data={clonedUserData} contained={contained}>
        </c-lwc-clone-this-user-detail>
    </template>
</template>