.container{
    cursor: pointer;
    font-size: small;
    margin: 5px;
    font-weight: bold;
    border-radius: 25px;
    padding: 10px;
    background-color: #cfe2f3;
    color: 	#2e587e;
    border-color: #bad4ed;
    border-style: solid;
    display: flex;
    justify-content: space-between;
}

    @media only screen
    and (max-height : 670px){
        .container{
            cursor: pointer;
            font-size: smaller;
            margin: 5px;
            font-weight: 700;
            border-radius: 25px;
            padding: 0px;
            background-color: #cfe2f3;
            color: #2e587e;
            border-color: #bad4ed;
            border-style: solid;
            display: flex;
            justify-content: space-between;
        }
}

.apexchange{
    width: 80px;
}

.youtube{
    width: 65px;
    height: 17px;
}

.title_image{
    display: flex;
}