<template>
    <div class="container" onclick={handleClick}>
        <div class="title_image">
            <div class="title">{title}</div>
            <template if:true={showImage}>&nbsp;
                <img src={logo} class={imageClass}/>
            </template>
        </div>
        <div class="arrow">▶︎</div>
    </div>
</template>