.THIS .fullwidth {
	width: 100% !important;
    height: 30px;
}
.THIS .recordListBox {
	margin-top:0px !important;
	overflow-y: scroll;
}

.THIS .recordListBox li {
	padding: 7px 12px 7px 12px;
	cursor:pointer;
}

.THIS .recordListBox li:hover {
	padding: 7px 12px 7px 12px;
    cursor:pointer;
    background-color: whitesmoke;
}

.THIS .backgroundfocus {
    background-color: whitesmoke;
}

/* For Scrolling */
.THIS ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
.THIS ::-webkit-scrollbar-track {
   display: none !important;
}
.THIS ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
}