<template>
    <template if:false={viewUser}>
        <div class="no-permission">
            <c-lwc-clone-this-user-main contained=""></c-lwc-clone-this-user-main>
        </div>
    </template>
    <template if:true={viewUser}>
        <article class="slds-card">
            <div class="slds-card__header slds-grid">
                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                    <template if:true={record.data}>
                        <div class="slds-media__figure">
                            <lightning-avatar src={record.data.fields.SmallPhotoUrl.value} size="large"></lightning-avatar>
                        </div>
                    </template>
                    <div class="slds-media__body">
                        <h2 class="slds-card__header-title slds-truncate">
                            <a class="slds-card__header-link slds-truncate" title="Clone User" href={userUrl} target="_blank">
                                <template if:true={record.data}>
                                    <span>Clone: {record.data.fields.Name.value}</span>
                                </template>
                            </a>
                        </h2>
                    </div>
                </header>
            </div>
            <div class="slds-card__body slds-card__body_inner">
                <div class="container">
                    <template if:true={customFieldDescribe}>
                        <div class="slds-grid slds-wrap" style="margin-bottom: 20px;">
                            <div class="slds-col slds-m-around_small" style="max-width: 92%;">
                                <fieldset class="slds-form-element">
                                    <div class="form-element__group slds-p-bottom_x-small">

                                        <div class="slds-grid slds-wrap">
                                            <div class={getFirstNameClass}>
                                                <lightning-input label="First Name" value={userData.FirstName}
                                                    onchange={handleFirstNameChange} maxlength="40" minlength="1" pattern=".*\S.*"
                                                    message-when-pattern-mismatch="Cannot be white space" required>
                                                </lightning-input>
                                            </div>
                                            <div  if:true={middleNameEnabled} class="slds-col slds-size_1-of-1 slds-large-size_1-of-2 slds-p-left_xxx-small slds-p-right_xxx-small">
                                                <lightning-input label="Middle Name" value={userData.MiddleName}
                                                    onchange={handleMiddleNameChange} maxlength="40" minlength="1" pattern=".*\S.*"
                                                    message-when-pattern-mismatch="Cannot be white space">
                                                </lightning-input>
                                            </div>
                                        </div>

                                        <div class="slds-grid slds-wrap">
                                            <div class={getLastNameClass}>
                                                <lightning-input label="Last Name" maxlength="80" minlength="1" pattern=".*\S.*"
                                                    message-when-pattern-mismatch="Cannot be white space"
                                                    onblur={handleBlurLastName} value={userData.LastName}
                                                    onchange={handleLastNameChange} required>
                                                </lightning-input>
                                            </div>
                                            <div if:true={suffixEnabled} class="slds-col slds-size_1-of-1 slds-large-size_1-of-2 slds-p-left_xxx-small slds-p-right_xxx-small">
                                                <lightning-input label="Suffix" value={userData.Suffix}
                                                    onchange={handleSuffixChange} maxlength="40" minlength="1" pattern=".*\S.*"
                                                    message-when-pattern-mismatch="Cannot be white space">
                                                </lightning-input>
                                            </div>
                                        </div>
                                        
                                        <lightning-input label="Email Address" type="email"
                                            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,10}$"
                                            message-when-pattern-mismatch="Invalid Email Format" onblur={handleBlurEmail}
                                            value={userData.Email} onchange={handleEmailChange} required></lightning-input>
                                        <lightning-input label="Username" type="email" pattern=".*\S.*"
                                            message-when-pattern-mismatch="Cannot be white space" value={userData.UserName}
                                            onchange={handleUserNameChange} required maxlength="80"></lightning-input>

                                        <div class="slds-grid slds-wrap">
                                            <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2 slds-medium-size_1-of-1 slds-p-left_xxx-small slds-p-right_xxx-small">
                                                <lightning-input label="Alias" pattern=".*\S.*"
                                                    message-when-pattern-mismatch="Cannot be white space" value={userData.Alias}
                                                    onchange={handleAliasChange} required minlength="1" maxlength="8">
                                                </lightning-input>
                                            </div>
                                            <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2 slds-medium-size_1-of-1 slds-p-left_xxx-small slds-p-right_xxx-small">
                                                <lightning-input label="Nickname" maxlength="40" minlength="1" pattern=".*\S.*"
                                                    message-when-pattern-mismatch="Cannot be white space"
                                                    value={userData.CommunityNickname} onchange={handleNicknameChange} required>
                                                </lightning-input>
                                            </div>
                                        </div>

                                    </div>

                                        <lightning-accordion allow-multiple-sections-open="true"
                                                            active-section-name="">
                                            <lightning-accordion-section name="SF" label="Standard Fields">
                                                <template if:true={displayStandardFields}>
                                                    <c-lwc-clone-this-user-profile if:true={profileEnabled} user={userId} selection={profileInitialSelection} onsearch={handleSearchProfile} onselectionchange={handleChangeProfile}></c-lwc-clone-this-user-profile>
                                                    <c-lwc-clone-this-user-role if:true={roleEnabled} selection={roleInitialSelection} onsearch={handleSearchRole} onselectionchange={handleChangeRole}></c-lwc-clone-this-user-role>
                                                    <c-lwc-clone-this-user-delegated-approver if:true={delegatedApproverEnabled} user={userId} selection={delegatedApproverInitialSelection} onsearch={handleSearchDelegatedApprover} onselectionchange={handleChangeDelegatedApprover}></c-lwc-clone-this-user-delegated-approver>
                                                    <lightning-record-edit-form object-api-name="User">
                                                        <template for:each={standardFieldDescribe} for:item="field">
                                                            <lightning-input-field style="padding: 0" onchange={handleStandardFieldChange}
                                                            data-field={field.name} key={field.name} field-name={field.name} value={field.value}
                                                            required={field.isRequired}>
                                                            </lightning-input-field>
                                                        </template>
                                                    </lightning-record-edit-form>
                                                </template>
                                                <template if:false={displayStandardFields}>
                                                    <legend>No additional standard fields need input.</legend>
                                                </template>
                                            </lightning-accordion-section>

                                            <lightning-accordion-section name="CF" label="Custom Fields">
                                                <template if:true={displayCustomFields}>
                                                    <lightning-record-edit-form object-api-name="User" onsuccess={handleRecordSaved}
                                                        onerror={handleOnError} onsubmit={handleSubmit}>
                                                        <template for:each={customFieldDescribe} for:item="field" for:index="index">
                                                            <div class="slds-p-top_x-small" key={field.name}>
                                                                <template if:false={field.isTextArea}><label key={field.name} class={field.formRequired} data-fieldlabel={field.name}>{field.label}</label></template>
                                                                <template if:false={field.isTime}>
                                                                <lightning-input-field style="padding: 0" onchange={handleCustomFieldChange}
                                                                    data-field={field.name} key={field.name} field-name={field.name} variant="label-hidden"
                                                                    required={field.isRequired} value={field.value}></lightning-input-field>
                                                                </template>
                                                                <template if:true={field.isTime}>
                                                                    <lightning-input type="time" data-target-id={field.name} value={field.value} onchange={handleTimeChange}></lightning-input>
                                                                </template>
                                                            </div>
                                                        </template>
                                                    </lightning-record-edit-form>
                                                </template>
                                                <template if:false={displayCustomFields}>
                                                    <legend>No additional custom fields need input.</legend>
                                                </template>
                                            </lightning-accordion-section>
                                        </lightning-accordion>
                                </fieldset>
                            </div>

                            <div class="slds-col slds-m-around_small ">
                                <fieldset>
                                    <!-- <lightning-input type="checkbox"
                                        label="Generate new password and notify user immediately" name="chk_generate"
                                        onchange={handleGNPchange} checked={advancedOptions.GeneratePassword}>
                                    </lightning-input> -->
                                    <template if:true={permissionGeneratePassword.HasPermission}>
                                        <lightning-input type="checkbox" label="Generate new password and notify user immediately" name="chk_generate"
                                                        onchange={handleGNPchange}
                                                        checked={permissionGeneratePasswordChecked}>
                                        </lightning-input>
                                    </template>
                                    
                                    <template if:false={permissionGeneratePassword.HasPermission}>
                                            <lightning-input type="checkbox" label="Generate new password and notify user immediately" name="chk_generate"
                                                onchange={handleGNPchange}
                                                checked={permissionGeneratePasswordChecked}
                                                disabled>
                                            </lightning-input> 
                                        <lightning-helptext icon-name="utility:warning" content={permissionGeneratePassword.Message}></lightning-helptext>
                                        <h1>{permissionGeneratePassword.Message}</h1>
                                    </template>
                                    <button class="slds-button btn-advanced" onclick={handleShowAdvOpts}>
                                        Advanced Options   
                                        <!-- Help Text -->
                                        <div class="">
                                            <lightning-icon class="slds-var-p-around_x-small" onmouseover={toggleTooltip} onmouseout={toggleTooltip} icon-name="utility:info" size="xx-small">
                                            </lightning-icon>
                                            <section class={tooltipClass} role="dialog">
                                                <div class="slds-popover__body ">
                                                    <div class="slds-media">
                                                    <div class="slds-media__body">
                                                        <lightning-formatted-rich-text value="
                                                            <div>
                                                                <ul>
                                                                  <li>
                                                                    Features such as Chatter, Account Teams, Opportunity Teams, Case Teams,
                                                                    and others must be enabled for some of the options below to be available.
                                                                  </li>
                                                                  <li>Team Memberships reference:</li>
                                                                  <ul>
                                                                    <li>
                                                                      Account Team Membership clones the Default Account Team Membership of
                                                                      the original user (related list in the User page layout).
                                                                    </li>
                                                                    <li>
                                                                      Account Team adds the cloned user to the Account Team Members of the
                                                                      same Accounts the original user is a member.
                                                                    </li>
                                                                    <li>
                                                                      Same for Opportunities (Default Opportunity Team and each Opportunity
                                                                      Team of each Case) and Cases (only each Case Team of each Case)
                                                                    </li>
                                                                  </ul>
                                                                  <li>If the new user is created Inactive:</li>
                                                                  <ul>
                                                                    <li>
                                                                      The new user will be created but regardless of the selection below it
                                                                      will NOT be:
                                                                    </li>
                                                                    <ul>
                                                                      <li>
                                                                        assigned to Account Teams, Opportunity Teams, Case Teams, Permission
                                                                        Sets, Permission Set Licenses
                                                                      </li>
                                                                      <li>granted Ownership of records</li>
                                                                      <li>added to Public Groups or Queues</li>
                                                                      <li>shared Dashboards or Reports</li>
                                                                    </ul>
                                                                    <li>Only active users can be granted the aforementioned.</li>
                                                                  </ul>
                                                                </ul>
                                                              </div>
                                                            ">
                                                        </lightning-formatted-rich-text>
                                                    </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                        <template if:true={showAdvOpts}>
                                            <lightning-button-icon icon-name="utility:down" variant="bare">
                                            </lightning-button-icon>
                                        </template>
                                        <template if:false={showAdvOpts}>
                                            <lightning-button-icon icon-name="utility:right" variant="bare">
                                            </lightning-button-icon>
                                        </template>
                                    </button>
                                    <template if:true={showAdvOpts}>
                                        <div>
                                            <!-- Account Ownership -->
                                             <div class="advanceOpts-input">
                                                <template if:true={accountOwnershipPermission.HasPermission}>
                                                    <lightning-input data-my-id="accountOwnership" type="checkbox" label="Account Ownership"
                                                        name="chk_group" onchange={handleAccOwnchange}
                                                        checked={accountOwnershipPermissionChecked}>
                                                    </lightning-input>
                                                </template>
                                                <template if:false={accountOwnershipPermission.HasPermission}>
                                                    <lightning-input data-my-id="accountOwnership" type="checkbox" label="Account Ownership"
                                                        name="chk_group" onchange={handleAccOwnchange}
                                                        checked={accountOwnershipPermissionChecked}
                                                    disabled>
                                                    </lightning-input>
                                                    <lightning-helptext icon-name="utility:warning" content={accountOwnershipPermission.Message}></lightning-helptext>
                                                    <h1>{accountOwnershipPermission.Message}</h1>
                                                </template>
                                            </div>
                                            <!-- Account Team Membership -->
                                            <div class="advanceOpts-input">
                                                <template if:true={accountTeamMembershipPermission.HasPermission}>
                                                    <lightning-input data-my-id="accountTeamMembership" type="checkbox" label="Account Team Membership"
                                                        name="chk_group" onchange={handleAccTMchange}
                                                        checked={accountTeamMembershipPermissionChecked}>
                                                    </lightning-input>
                                                </template>
                                                <template if:false={accountTeamMembershipPermission.HasPermission}>
                                                    <lightning-input data-my-id="accountTeamMembership" type="checkbox" label="Account Team Membership"
                                                        name="chk_group" onchange={handleAccTMchange}
                                                        checked={accountTeamMembershipPermissionChecked}
                                                    disabled>
                                                    </lightning-input>
                                                    <lightning-helptext icon-name="utility:warning" content={accountTeamMembershipPermission.Message}></lightning-helptext>
                                                    <h1>{accountTeamMembershipPermission.Message}</h1>
                                                </template>
                                            </div>
                                            <!-- Case Ownership -->
                                            <div class="advanceOpts-input">
                                                <template if:true={caseOwnershipPermission.HasPermission}>
                                                    <lightning-input data-my-id="caseOwnership" type="checkbox" label="Case Ownership"
                                                        name="chk_group" onchange={handleCaOwchange}
                                                        checked={caseOwnershipPermissionChecked}>
                                                    </lightning-input>
                                                </template>
                                                <template if:false={caseOwnershipPermission.HasPermission}>
                                                    <lightning-input data-my-id="caseOwnership" type="checkbox" label="Case Ownership"
                                                        name="chk_group" onchange={handleCaOwchange}
                                                        checked={caseOwnershipPermissionChecked}
                                                    disabled>
                                                    </lightning-input>
                                                    <lightning-helptext icon-name="utility:warning" content={caseOwnershipPermission.Message}></lightning-helptext>
                                                    <h1>{caseOwnershipPermission.Message}</h1>
                                                </template>
                                            </div>
                                            <!-- Case Team Membership -->
                                            <div class="advanceOpts-input">
                                                <template if:true={caseTeamMembershipPermission.HasPermission}>
                                                    <lightning-input data-my-id="caseTeamMembership" type="checkbox" label="Case Team Membership"
                                                        name="chk_group" onchange={handleCaTMchange}
                                                        checked={caseTeamMembershipPermissionChecked}>
                                                    </lightning-input>
                                                </template>
                                                <template if:false={caseTeamMembershipPermission.HasPermission}>
                                                    <lightning-input data-my-id="caseTeamMembership" type="checkbox" label="Case Team Membership"
                                                        name="chk_group" onchange={handleCaTMchange}
                                                        checked={caseTeamMembershipPermissionChecked}
                                                    disabled>
                                                    </lightning-input>
                                                    <lightning-helptext icon-name="utility:warning" content={caseTeamMembershipPermission.Message}></lightning-helptext>
                                                    <h1>{caseTeamMembershipPermission.Message}</h1>
                                                </template>
                                            </div>
                                            <!-- Chatter Group Memberships -->
                                            <div class="advanceOpts-input">
                                                <template if:true={chatterGroupPermission.HasPermission}>
                                                    <lightning-input data-my-id="chatterGroupMembership" type="checkbox" label="Chatter Group Memberships"
                                                        name="chk_group" onchange={handleCGchange}
                                                        checked={chatterGroupPermissionChecked}>
                                                    </lightning-input>
                                                </template>
                                                <template if:false={chatterGroupPermission.HasPermission}>
                                                    <lightning-input data-my-id="chatterGroupMembership" type="checkbox" label="Chatter Group Memberships"
                                                        name="chk_group" onchange={handleCGchange}
                                                        checked={chatterGroupPermissionChecked}
                                                    disabled>
                                                    </lightning-input>
                                                    <lightning-helptext icon-name="utility:warning" content={chatterGroupPermission.Message}></lightning-helptext>
                                                    <h1>{chatterGroupPermission.Message}</h1>
                                                </template>
                                            </div>
                                            <!-- Lead Ownership -->
                                            <div class="advanceOpts-input">
                                                <template if:true={leadOwnershipPermission.HasPermission}>
                                                    <lightning-input data-my-id="leadOwnership" type="checkbox" label="Lead Ownership"
                                                        name="chk_group" onchange={handleLOchange}
                                                        checked={leadOwnershipPermissionChecked}>
                                                    </lightning-input>
                                                </template>
                                                <template if:false={leadOwnershipPermission.HasPermission}>
                                                    <lightning-input data-my-id="leadOwnership" type="checkbox" label="Lead Ownership"
                                                        name="chk_group" onchange={handleLOchange}
                                                        checked={leadOwnershipPermissionChecked}
                                                    disabled>
                                                    </lightning-input>
                                                    <lightning-helptext icon-name="utility:warning" content={leadOwnershipPermission.Message}></lightning-helptext>
                                                    <h1>{leadOwnershipPermission.Message}</h1>
                                                </template>
                                            </div>
                                            <!-- Opportunity Ownership -->
                                            <div class="advanceOpts-input">
                                                <template if:true={opportunityOwnershipPermission.HasPermission}>
                                                    <lightning-input data-my-id="opportunityOwnership" type="checkbox" label="Opportunity Ownership"
                                                        name="chk_group" onchange={handleOppOwchange}
                                                        checked={opportunityOwnershipPermissionChecked}>
                                                    </lightning-input>
                                                </template>
                                                <template if:false={opportunityOwnershipPermission.HasPermission}>
                                                    <lightning-input data-my-id="opportunityOwnership" type="checkbox" label="Opportunity Ownership"
                                                        name="chk_group" onchange={handleOppOwchange}
                                                        checked={opportunityOwnershipPermissionChecked}
                                                    disabled>
                                                    </lightning-input>
                                                    <lightning-helptext icon-name="utility:warning" content={opportunityOwnershipPermission.Message}></lightning-helptext>
                                                    <h1>{opportunityOwnershipPermission.Message}</h1>
                                                </template>
                                            </div>
                                            <!-- Opportunity Team Membership -->
                                            <div class="advanceOpts-input">
                                                <template if:true={opportunityTeamMembershipPermission.HasPermission}>
                                                    <lightning-input data-my-id="opportunityTeamMembership" type="checkbox" label="Opportunity Team Membership"
                                                        name="chk_group" onchange={handleOppTMchange}
                                                        checked={opportunityTeamMembershipPermissionChecked}>
                                                    </lightning-input>
                                                </template>
                                                <template if:false={opportunityTeamMembershipPermission.HasPermission}>
                                                    <lightning-input data-my-id="opportunityTeamMembership" type="checkbox" label="Opportunity Team Membership"
                                                        name="chk_group" onchange={handleOppTMchange}
                                                        checked={opportunityTeamMembershipPermissionChecked}
                                                    disabled>
                                                    </lightning-input>
                                                    <lightning-helptext icon-name="utility:warning" content={opportunityTeamMembershipPermission.Message}></lightning-helptext>
                                                    <h1>{opportunityTeamMembershipPermission.Message}</h1>
                                                </template>
                                            </div>
                                            <!-- Permission Set -->
                                            <div class="advanceOpts-input">
                                                <template if:true={permissionSetPermission.HasPermission}>
                                                    <lightning-input data-my-id="permissionSet" type="checkbox" label="Permission Set Assignments"
                                                        name="chk_perm" onchange={handlePSAchange}
                                                        checked={permissionSetPermissionChecked}>
                                                    </lightning-input>
                                                </template>
                                                <template if:false={permissionSetPermission.HasPermission}>
                                                    <lightning-input data-my-id="permissionSet" type="checkbox" label="Permission Set Assignments"
                                                        name="chk_perm" onchange={handlePSAchange}
                                                        checked={permissionSetPermissionChecked}
                                                        disabled>
                                                    </lightning-input>
                                                    <lightning-helptext icon-name="utility:warning" content={permissionSetPermission.Message}></lightning-helptext>
                                                    <h1>{permissionSetPermission.Message}</h1>
                                                </template>
                                            </div>
                                            <!-- Permission Set License Assignments -->
                                            <div class="advanceOpts-input">
                                                <template if:true={permissionSetPermissionLicense.HasPermission}>
                                                    <lightning-input type="checkbox" data-my-id="licenseAssignment" label="Permission Set License Assignments"
                                                        name="chk_licence" onchange={handlePSLAchange}
                                                        checked={permissionSetPermissionLicenseChecked}>
                                                    </lightning-input>
                                                </template>
                                                <template if:false={permissionSetPermissionLicense.HasPermission}>
                                                    <lightning-input type="checkbox" data-my-id="licenseAssignment" label="Permission Set License Assignments"
                                                        name="chk_licence" onchange={handlePSLAchange}
                                                        checked={permissionSetPermissionLicenseChecked}
                                                        disabled>
                                                    </lightning-input>
                                                    <lightning-helptext icon-name="utility:warning" content={permissionSetPermissionLicense.Message}></lightning-helptext>
                                                    <h1>{permissionSetPermissionLicense.Message}</h1>
                                                </template>
                                            </div>
                                            <!-- Public Group Memberships -->
                                            <div class="advanceOpts-input">
                                                <template if:true={publicGroupsPermission.HasPermission}>
                                                    <lightning-input data-my-id="publicGroupMembership" type="checkbox" label="Public Group Memberships"
                                                        name="chk_group" onchange={handlePGMchange}
                                                        checked={publicGroupsPermissionChecked}>
                                                    </lightning-input>
                                                </template>
                                                <template if:false={publicGroupsPermission.HasPermission}>
                                                    <lightning-input data-my-id="publicGroupMembership" type="checkbox" label="Public Group Memberships"
                                                        name="chk_group" onchange={handlePGMchange}
                                                        checked={publicGroupsPermissionChecked}
                                                    disabled>
                                                    </lightning-input>
                                                    <lightning-helptext icon-name="utility:warning" content={publicGroupsPermission.Message}></lightning-helptext>
                                                    <h1>{publicGroupsPermission.Message}</h1>
                                                </template>
                                            </div>
                                            <!-- Queue Memberships -->
                                            <div class="advanceOpts-input">
                                                <template if:true={queuesPermission.HasPermission}>
                                                    <lightning-input data-my-id="queueMembership" type="checkbox" label="Queue Memberships" name="chk_queue"
                                                        onchange={handleQMchange}
                                                        checked={queuesPermissionChecked}>
                                                    </lightning-input>
                                                </template>
                                                <template if:false={queuesPermission.HasPermission}>
                                                    <lightning-input data-my-id="queueMembership" type="checkbox" label="Queue Memberships" name="chk_queue"
                                                        onchange={handleQMchange}
                                                        checked={queuesPermissionChecked}
                                                        disabled>
                                                    </lightning-input>
                                                    <lightning-helptext icon-name="utility:warning" content={queuesPermission.Message}></lightning-helptext>
                                                    <h1>{queuesPermission.Message}</h1>
                                                </template>
                                            </div>
                                            <!-- Shared Dashboards -->
                                            <div class="advanceOpts-input">
                                                <template if:true={shareDashboardsPermission.HasPermission}>
                                                    <lightning-input data-my-id="shareDashboards" type="checkbox" label="Shared Dashboards"
                                                        name="chk_group" onchange={handleSDchange}
                                                        checked={shareDashboardsPermissionChecked}>
                                                    </lightning-input>
                                                </template>
                                                <template if:false={shareDashboardsPermission.HasPermission}>
                                                    <lightning-input data-my-id="shareDashboards" type="checkbox" label="Shared Dashboards"
                                                        name="chk_group" onchange={handleSDchange}
                                                        checked={shareDashboardsPermissionChecked}
                                                    disabled>
                                                    </lightning-input>
                                                    <lightning-helptext icon-name="utility:warning" content={shareDashboardsPermission.Message}></lightning-helptext>
                                                    <h1>{shareDashboardsPermission.Message}</h1>
                                                </template>
                                            </div>
                                            <!-- Shared Reports -->
                                            <div class="advanceOpts-input">
                                                <template if:true={shareReportsPermission.HasPermission}>
                                                    <lightning-input data-my-id="shareReports" type="checkbox" label="Shared Reports"
                                                        name="chk_group" onchange={handleSRchange}
                                                        checked={shareReportsPermissionChecked}>
                                                    </lightning-input>
                                                </template>
                                                <template if:false={shareReportsPermission.HasPermission}>
                                                    <lightning-input data-my-id="chatterGroupMembership" type="checkbox" label="Shared Reports"
                                                        name="chk_group" onchange={handleSRchange}
                                                        checked={shareReportsPermissionChecked}
                                                    disabled>
                                                    </lightning-input>
                                                    <lightning-helptext icon-name="utility:warning" content={shareReportsPermission.Message}></lightning-helptext>
                                                    <h1>{shareReportsPermission.Message}</h1>
                                                </template>
                                            </div>
                                        </div>
                                    </template>

                                    <button class="slds-button btn-advanced" onclick={handleShowRemoveOriginalUser}>
                                        Remove Original User
                                        <template if:true={showRemoveOriginalUser}>
                                            <lightning-button-icon icon-name="utility:down" variant="bare">
                                            </lightning-button-icon>
                                        </template>
                                        <template if:false={showRemoveOriginalUser}>
                                            <lightning-button-icon icon-name="utility:right" variant="bare">
                                            </lightning-button-icon>
                                        </template>
                                    </button>
                                    <template if:true={showRemoveOriginalUser}>
                                        <div>
                                            <!-- Deactivate User -->
                                            <div class="advanceOpts-input">
                                                <lightning-input data-my-id="deactivateUser" type="checkbox" label="Deactivate Original User" name="chk_deactivate"
                                                    onchange={handleDeactivateChange}
                                                    checked={RemoveDeactiveUserChecked}>
                                                </lightning-input>
                                            </div>
                                            <!-- Account Team Membership -->
                                            <div class="advanceOpts-input">
                                                <template if:false={accountTeamMembershipPermission.HasPermission}>
                                                    <lightning-input data-my-id="accountTeamMembership" type="checkbox" label="Account Team Membership"
                                                        name="chk_deactivate_atm" onchange={handleDeactivateATM}
                                                        unchecked
                                                        disabled>
                                                    </lightning-input>
                                                    <lightning-helptext icon-name="utility:warning" content={accountTeamMembershipPermission.Message}></lightning-helptext>
                                                    <h1>{accountTeamMembershipPermission.Message}</h1>
                                                </template>
                                                <template if:true={accountTeamMembershipPermission.HasPermission}>
                                                    <template if:true={advancedOptions.accountTeamMembership}>
                                                        <lightning-input data-my-id="accountTeamMembership" type="checkbox" label="Account Team Membership"
                                                            name="chk_deactivate_atm" onchange={handleDeactivateATM}
                                                            checked={RemoveaccountTeamMembershipPermissionChecked}>
                                                        </lightning-input>
                                                    </template>
                                                    <template if:false={advancedOptions.accountTeamMembership}>
                                                        <lightning-input data-my-id="accountTeamMembership" type="checkbox" label="Account Team Membership"
                                                            name="chk_deactivate_sd" onchange={handleDeactivateATM}
                                                            unchecked
                                                            disabled>
                                                        </lightning-input>
                                                    </template>
                                                </template>
                                            </div>
                                            <!-- Case Team Membership -->
                                            <div class="advanceOpts-input">
                                                <template if:false={caseTeamMembershipPermission.HasPermission}>
                                                    <lightning-input data-my-id="caseTeamMembership" type="checkbox" label="Case Team Membership"
                                                        name="chk_deactivate_CTM" onchange={handleDeactivateCaTM}
                                                        unchecked
                                                        disabled>
                                                    </lightning-input>
                                                    <lightning-helptext icon-name="utility:warning" content={caseTeamMembershipPermission.Message}></lightning-helptext>
                                                    <h1>{caseTeamMembershipPermission.Message}</h1>
                                                </template>
                                                <template if:true={caseTeamMembershipPermission.HasPermission}>
                                                    <template if:true={advancedOptions.caseTeamMembership}>
                                                        <lightning-input data-my-id="caseTeamMembership" type="checkbox" label="Case Team Membership"
                                                            name="chk_deactivate_CTM" onchange={handleDeactivateCaTM}
                                                            checked={RemovecaseTeamMembershipPermissionChecked}>
                                                        </lightning-input>
                                                    </template>
                                                    <template if:false={advancedOptions.caseTeamMembership}>
                                                        <lightning-input data-my-id="caseTeamMembership" type="checkbox" label="Case Team Membership"
                                                            name="chk_deactivate_CTM" onchange={handleDeactivateCaTM}
                                                            unchecked
                                                            disabled>
                                                        </lightning-input>
                                                    </template>
                                                </template>
                                            </div>
                                            <!-- Chatter Group Memberships -->
                                            <div class="advanceOpts-input">
                                                <template if:false={chatterGroupPermission.HasPermission}>
                                                    <lightning-input data-my-id="chatterGroups" type="checkbox" label="Chatter Group Memberships"
                                                            name="chk_deactivate_cg"
                                                            onchange={handleDeactivateCG}
                                                            unchecked
                                                            disabled>
                                                    </lightning-input>
                                                    <lightning-helptext icon-name="utility:warning" content={chatterGroupPermission.Message}></lightning-helptext>
                                                    <h1>{chatterGroupPermission.Message}</h1>
                                                </template>

                                                <template if:true={chatterGroupPermission.HasPermission}>
                                                    <template if:true={advancedOptions.ChatterGroups}>
                                                        <lightning-input data-my-id="chatterGroups" type="checkbox" label="Chatter Group Memberships"
                                                            name="chk_deactivate_cg"
                                                            onchange={handleDeactivateCG}
                                                            checked={RemovechatterGroupPermissionChecked}>
                                                        </lightning-input>
                                                    </template>
                                                    <template if:false={advancedOptions.ChatterGroups}>
                                                        <lightning-input data-my-id="chatterGroups" type="checkbox" label="Chatter Group Memberships"
                                                            name="chk_deactivate_cg"
                                                            onchange={handleDeactivateCG}
                                                            unchecked
                                                            disabled>
                                                        </lightning-input>
                                                    </template>
                                                </template>
                                            </div>
                                            <!-- Opportunity Team Membership -->
                                            <div class="advanceOpts-input">
                                                <template if:false={opportunityTeamMembershipPermission.HasPermission}>
                                                    <lightning-input data-my-id="opportunityTeamMembership" type="checkbox" label="Opportunity Team Membership"
                                                        name="chk_deactivate_OppTM" onchange={handleDeactivateOppTM}
                                                        unchecked
                                                        disabled>
                                                    </lightning-input>
                                                    <lightning-helptext icon-name="utility:warning" content={opportunityTeamMembershipPermission.Message}></lightning-helptext>
                                                    <h1>{opportunityTeamMembershipPermission.Message}</h1>
                                                </template>
                                                <template if:true={opportunityTeamMembershipPermission.HasPermission}>
                                                    <template if:true={advancedOptions.opportunityTeamMembership}>
                                                        <lightning-input data-my-id="opportunityTeamMembership" type="checkbox" label="Opportunity Team Membership"
                                                            name="chk_deactivate_OppTM" onchange={handleDeactivateOppTM}
                                                            checked={RemoveopportunityTeamMembershipPermissionChecked}>
                                                        </lightning-input>
                                                    </template>
                                                    <template if:false={advancedOptions.opportunityTeamMembership}>
                                                        <lightning-input data-my-id="opportunityTeamMembership" type="checkbox" label="Opportunity Team Membership"
                                                            name="chk_deactivate_OppTM" onchange={handleDeactivateOppTM}
                                                            unchecked
                                                            disabled>
                                                        </lightning-input>
                                                    </template>
                                                </template>
                                            </div>
                                            <!-- Permission Set Assignments -->
                                            <div class="advanceOpts-input">
                                                <template if:false={permissionSetPermission.HasPermission}>
                                                    <lightning-input data-my-id="permissionSet" type="checkbox" label="Permission Set Assignments"
                                                            name="chk_deactivate_psa"
                                                            onchange={handleDeactivatePSA}
                                                            disabled>
                                                    </lightning-input>
                                                    <lightning-helptext icon-name="utility:warning" content={permissionSetPermission.Message}></lightning-helptext>
                                                    <h1>{permissionSetPermission.Message}</h1>
                                                </template>

                                                <template if:true={permissionSetPermission.HasPermission}>
                                                    <template if:true={advancedOptions.PermissionSetAssignments}>
                                                        <lightning-input data-my-id="permissionSet" type="checkbox" label="Permission Set Assignments"
                                                            name="chk_deactivate_psa"
                                                            onchange={handleDeactivatePSA}
                                                            checked={RemovePermissionSetPermissionChecked}>
                                                        </lightning-input>
                                                    </template>
                                                    <template if:false={advancedOptions.PermissionSetAssignments}>
                                                        <lightning-input data-my-id="permissionSet" type="checkbox" label="Permission Set Assignments"
                                                            name="chk_deactivate_psa"
                                                            onchange={handleDeactivatePSA}
                                                            unchecked
                                                            disabled>
                                                        </lightning-input>
                                                    </template>
                                                </template>
                                            </div>
                                            <!-- Permission Set License Assignments -->
                                             <div class="advanceOpts-input">
                                                <template if:false={permissionSetPermissionLicense.HasPermission}>
                                                    <lightning-input data-my-id="permissionSetLicenseAssignments" type="checkbox" label="Permission Set License Assignments"
                                                        name="chk_deactivate_psla"
                                                        onchange={handleDeactivatePSLA}
                                                        unchecked
                                                        disabled>
                                                    </lightning-input>
                                                    <lightning-helptext icon-name="utility:warning" content={permissionSetPermissionLicense.Message}></lightning-helptext>
                                                    <h1>{permissionSetPermissionLicense.Message}</h1>
                                                </template>

                                                <template if:true={permissionSetPermissionLicense.HasPermission}>
                                                    <template if:true={advancedOptions.PermissionSetLicenseAssignments}>
                                                        <lightning-input data-my-id="permissionSetLicenseAssignments" type="checkbox" label="Permission Set License Assignments"
                                                            name="chk_deactivate_psla"
                                                            onchange={handleDeactivatePSLA}
                                                            checked={RemovepermissionSetPermissionLicenseChecked}>
                                                        </lightning-input>
                                                    </template>
                                                    <template if:false={advancedOptions.PermissionSetLicenseAssignments}>
                                                        <lightning-input data-my-id="permissionSetLicenseAssignments" type="checkbox" label="Permission Set License Assignments"
                                                            name="chk_deactivate_psla"
                                                            onchange={handleDeactivatePSLA}
                                                            unchecked
                                                            disabled>
                                                        </lightning-input>
                                                    </template>
                                                </template>
                                            </div>
                                            <!-- Public Group Memberships -->
                                            <div class="advanceOpts-input">
                                                <template if:false={publicGroupsPermission.HasPermission}>
                                                    <lightning-input data-my-id="publicGroupMembership" type="checkbox" label="Public Group Memberships"
                                                        name="chk_deactivate_pgm"
                                                        unchecked
                                                        onchange={handleDeactivatePGM}
                                                        disabled>
                                                    </lightning-input>
                                                    <lightning-helptext icon-name="utility:warning" content={publicGroupsPermission.Message}></lightning-helptext>
                                                    <h1>{publicGroupsPermission.Message}</h1>
                                                </template>

                                                <template if:true={publicGroupsPermission.HasPermission}>
                                                    <template if:true={advancedOptions.PublicGroupMembership}>
                                                        <lightning-input data-my-id="publicGroupMembership" type="checkbox" label="Public Group Memberships"
                                                            name="chk_deactivate_pgm"
                                                            onchange={handleDeactivatePGM}
                                                            checked={RemovepublicGroupsPermissionChecked}>
                                                        </lightning-input>
                                                    </template>
                                                    <template if:false={advancedOptions.PublicGroupMembership}>
                                                        <lightning-input data-my-id="publicGroupMembership" type="checkbox" label="Public Group Memberships"
                                                            name="chk_deactivate_pgm"
                                                            unchecked
                                                            onchange={handleDeactivatePGM}
                                                            disabled>
                                                        </lightning-input>
                                                    </template>
                                                </template>
                                            </div>
                                            <!-- Queue Memberships -->
                                            <div class="advanceOpts-input">
                                                <template if:false={queuesPermission.HasPermission}>
                                                    <lightning-input data-my-id="queueMembership" type="checkbox" label="Queue Memberships"
                                                        name="chk_deactivate_qm"
                                                        onchange={handleDeactivateQM}
                                                        unchecked
                                                        disabled>
                                                    </lightning-input>
                                                    <lightning-helptext icon-name="utility:warning" content={queuesPermission.Message}></lightning-helptext>
                                                    <h1>{queuesPermission.Message}</h1>
                                                </template>
                                                <template if:true={queuesPermission.HasPermission}>
                                                    <template if:true={advancedOptions.QueueMembership}>
                                                        <lightning-input data-my-id="queueMembership" type="checkbox" label="Queue Memberships"
                                                            name="chk_deactivate_qm"
                                                            onchange={handleDeactivateQM}
                                                            checked={RemovequeuesPermissionChecked}>
                                                        </lightning-input>
                                                    </template>
                                                    <template if:false={advancedOptions.QueueMembership}>
                                                        <lightning-input data-my-id="queueMembership" type="checkbox" label="Queue Memberships"
                                                            name="chk_deactivate_qm"
                                                            onchange={handleDeactivateQM}
                                                            unchecked
                                                            disabled>
                                                        </lightning-input>
                                                    </template>
                                                </template>
                                            </div>
                                            <!-- Shared Dashboards -->
                                             <div class="advanceOpts-input">
                                                <template if:false={shareDashboardsPermission.HasPermission}>
                                                    <lightning-input data-my-id="shareDashboards" type="checkbox" label="Shared Dashboards"
                                                        name="chk_deactivate_sd" onchange={handleDeactivateSD}
                                                        unchecked
                                                        disabled>
                                                    </lightning-input>
                                                    <lightning-helptext icon-name="utility:warning" content={shareDashboardsPermission.Message}></lightning-helptext>
                                                    <h1>{shareDashboardsPermission.Message}</h1>
                                                </template>
                                                <template if:true={shareDashboardsPermission.HasPermission}>
                                                    <template if:true={advancedOptions.shareDashboards}>
                                                        <lightning-input data-my-id="shareDashboards" type="checkbox" label="Shared Dashboards"
                                                            name="chk_deactivate_sd" onchange={handleDeactivateSD}
                                                            checked={RemoveshareDashboardsPermissionChecked}>
                                                        </lightning-input>
                                                    </template>
                                                    <template if:false={advancedOptions.shareDashboards}>
                                                        <lightning-input data-my-id="shareDashboards" type="checkbox" label="Shared Dashboards"
                                                            name="chk_deactivate_sd" onchange={handleDeactivateSD}
                                                            unchecked
                                                            disabled>
                                                        </lightning-input>
                                                    </template>
                                                </template>
                                            </div>
                                            <!-- Shared Reports -->
                                            <div class="advanceOpts-input">
                                                <template if:false={shareReportsPermission.HasPermission}>
                                                    <lightning-input data-my-id="chatterGroupMembership" type="checkbox" label="Shared Reports"
                                                        name="chk_deactivate_sr" onchange={handleDeactivateSR}
                                                        unchecked
                                                        disabled>
                                                    </lightning-input>
                                                    <lightning-helptext icon-name="utility:warning" content={shareReportsPermission.Message}></lightning-helptext>
                                                    <h1>{shareReportsPermission.Message}</h1>
                                                </template>
                                                <template if:true={shareReportsPermission.HasPermission}>
                                                    <template if:true={advancedOptions.shareReports}>
                                                        <lightning-input data-my-id="shareReports" type="checkbox" label="Shared Reports"
                                                            name="chk_deactivate_sr" onchange={handleDeactivateSR}
                                                            checked={RemoveshareReportsPermissionChecked}>
                                                        </lightning-input>
                                                    </template>
                                                    <template if:false={advancedOptions.shareReports}>
                                                        <lightning-input data-my-id="chatterGroupMembership" type="checkbox" label="Shared Reports"
                                                            name="chk_deactivate_sr" onchange={handleDeactivateSR}
                                                            unchecked
                                                        disabled>
                                                        </lightning-input>
                                                    </template>
                                                </template>
                                            </div>
                                        </div>
                                    </template>
                                </fieldset>
                            </div>
                            <template if:true={errMessages}>
                                <div class="slds-col slds-m-around_small slds-align-top slds-size_6-of-6">
                                    <div class="slds-m-around_small error-message">
                                        Error: {errMessages}
                                    </div>
                                </div>
                            </template>
                            <div class="slds-col slds-size_6-of-6 slds-align-bottom">
                                <div class="slds-grid slds-nowrap slds-grid_align-center">
                                    <div class="slds-col slds-m-around_small">
                                        <lightning-button label="Cancel" onclick={handleCancel}></lightning-button>
                                    </div>
                                    <div class="slds-col slds-m-around_small">
                                        <lightning-button name="save" label="Save" onclick={save}></lightning-button>
                                    </div>
                                    <div class="slds-col slds-m-around_small">
                                        <lightning-button name="saveAndClone" label="Save And Clone Again" onclick={save}></lightning-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </article>
    </template>
</template>