.container {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.btn-advanced {
    border: 0px;
    cursor:pointer;
}

.btn-advanced:hover {
    background-color: white;
}

.btn-advanced:focus {
    box-shadow: 0 0 0;
    background-color: white;
}

.clone-header{
    text-align:center;
    font-size: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.error-message {
    color: rgb(194, 57, 52);
}

.full-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: -9;
}

.advanceOpts-input {
    display: flex;
    align-items: flex-end;
}
h1 {
    color: red;
    font-weight: 700;
    font-size: 13px;
}
.more-info {
    margin-top: 10px;
}

.no-permission h1 {
    color: red;
    font-weight: 700;
    font-size: 20px;
}

.no-permission {
    display: flex;
    justify-content: center;
    background-color: #f0f1f2;
}

.slds-form-element__legend {
    font-weight: unset !important
}

.formrequired::before{
    content: "* ";
    color: red;
}

.popover-style {
    color: white;
    background-color: #042C60;
    position: absolute;
    left: 150px;
    top: -8px;
}