<template>
    <div class={className}>
        <div class="main-title" onclick={handleShow}>
            <template if:true={display}>
                <h1  style="width: 10px;">▼</h1>
            </template>
            <template if:false={display}>
                <h1 style="width: 10px;">▲</h1>
            </template>
            <h1 style="width: 100px;">Quick Links</h1>
        </div>
        <div class="options">
            <template for:each={options} for:item='opt'>
                <c-lwc-quick-link key={opt.name} name={opt.name} title={opt.label} onclick={handleClick} onshowmodal={handleShowModal}></c-lwc-quick-link>
            </template>
        </div>
    </div>
</template>