.body-display {
    border-color: #c5e2c5;
    border-style: solid;
    border-radius: 10px 0px 0px 10px;
    z-index: 300;
    display: flex;
    position: fixed;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    background-color: #d9ead3;
    transform: translateX(calc(100vw - 100%));
    transition: transform 0.5s ease-in-out;
    cursor: unset;
}

@media only screen
    and (max-height : 670px){
        .body-display{
            transform: translateX(calc(100vw - 105%));
        }
        .body{
            transform: translateX(calc(100vw - 53px));
        }
    }

.body {
    border-color: #c5e2c5;
    border-style: solid;
    border-radius: 10px 0px 0px 10px;
    z-index: 300;
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #d9ead3;
    transform: translateX(calc(100vw - 50px));
    transition: width 0.3s;
    height: 200px;
    cursor: pointer;
}

.main-title {
    justify-content: space-between;
    display: flex;
    color: #006400;
    width: 30px;
    /* align-self: flex-end; */
    font-size: large;
    flex-direction: column;
    cursor: pointer;
}

.main-title h1 {
    transform-origin: left top 0;
    transform: rotate(270deg);
    margin-top: 25px;
}

.options {
    width: 95%;
    padding-right: 10px;
}