<template>
    <div class="slds-form-element">
        <label class="slds-form-element__label" for="combobox">
            <abbr class="slds-required">*</abbr>
            Profile
        </label>
        <div class="slds-form-element__control">
            <div class="slds-combobox_container slds-has-inline-listbox">
                <div class={getDropdownClass} aria-expanded={hasResults} aria-haspopup="listbox" role="combobox">
                    <div class={getComboboxClass} role="none">
                            <lightning-icon icon-name="standard:people" size="small" alternative-text="Profile"
                                            class={getIconClass}>
                            </lightning-icon>

                        <input type="text" class="slds-input slds-combobox__input slds-combobox__input-value" aria-autocomplete="list" aria-controls="listbox" 
                                autocomplete="off" role="textbox" id="combobox" placeholder="Search Profile" 
                                value={getValue} readonly={profileSelected} 
                                onfocus={handleFocus} onblur={handleBlur} oninput={searchTermChange}/>

                        <lightning-icon if:false={profileSelected} icon-name="utility:search" size="x-small" 
                                        alternative-text="Search icon" class="slds-input__icon slds-input__icon_right">
                        </lightning-icon>
                       
                        <button if:true={profileSelected} title="Remove" type="button" onclick={handleClearSelection}
                                class="slds-button slds-button_icon slds-input__icon slds-input__icon_right">
                            <lightning-icon icon-name="utility:close" size="x-small"
                                            alternative-text="Remove" class="slds-button__icon"
                            ></lightning-icon>
                        </button>
                    </div>

                    <div id="listbox" role="listbox" onmousedown={handleComboboxMouseDown} onmouseup={handleComboboxMouseUp}>
                        <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
                            <div if:true={loading}>
                                <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
                            </div>

                            <template for:each={searchResultsLocalState} for:item="item" if:true={hasResults}>
                                <li key={item.result.id} role="presentation" class="slds-listbox__item">
                                    <span class={item.classes} role="option" onclick={handleResultClick} data-recordid={item.result.id}>
                                        <span class="slds-media__figure">
                                            <lightning-icon icon-name="standard:people" size="small" 
                                                            alternative-text="People">
                                            </lightning-icon>
                                        </span>
                                        <span class="slds-media__body">
                                            <span >
                                                <lightning-formatted-rich-text value={item.result.name}></lightning-formatted-rich-text>
                                            </span>
                                        </span>
                                    </span>
                                </li>
                            </template>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>