.THIS.slds .ok-divTitle {
    display: inline-block;
    width: 48%;
    padding-left: 14px;
    padding-top: 6px;
    padding-bottom: 10px;
}
.THIS.slds .ok-itemCell {
    display: inline-block;
    width: 48%;
    padding: 6px 14px;
    cursor:pointer;
}
.THIS.slds .slds-lookup__item:hover{
    background:#F0F0F0;
}
.THIS.slds .ok-lookup{
    font-size:14px;
}
.THIS.ok-form{
    margin-top:20px;
}
.THIS.slds .ok-multipleCloneButton{
    margin:10px 0px;
}