<template>
    <div class="search-box">
        <div class="slds-m-bottom_small">
            <h2 style='text-align: center;'>CTU does not support cloning of Community Users so they are not displayed in this search. Community Users must be created from a Contact.</h2>
            <lightning-input name="enter-search" placeholder="Search for User to Clone..." type="search" onkeyup={handleKeyUp}
                is-loading={showSpinner} value={search}>
            </lightning-input>
        </div>
    </div>
</template>