<template>
    <div class="container">
        <div class="slds-grid slds-grid_vertical ">
            <div class="slds-grid slds-grid_align-center">
                <template if:true={contained}>
                    <div
                        class="slds-col slds-x-small-size--6-of-6 slds-small-size_6-of-6 slds-medium-size_5-of-6 slds-size_5-of-6 success">
                        Your user was successfully cloned
                    </div>
                </template>
                <template if:false={contained}>
                    <div class="slds-col slds-size_1-of-1 success">
                        Your user was successfully cloned
                    </div>
                </template>
            </div>
            <div class="slds-col slds-size_6-of-6">
                <template if:true={contained}>
                    <div class="slds-grid slds-grid_align-center slds-m-around_medium">
                        <div class="slds-col slds-grid slds-grid_align-end slds-size_3-of-6">
                            <div
                                class="slds-col slds-x-small-size--6-of-6 slds-small-size_6-of-6 slds-medium-size_4-of-6 slds-size_3-of-6">
                                New User
                            </div>
                        </div>
                        <div class="slds-col slds-size_3-of-6 slds-truncate">
                            <a target="_blank" href={newUserUrl}>{resultData.newUser.Name}</a>
                        </div>
                    </div>
                    <div class="slds-grid slds-grid_align-center slds-m-around_medium">
                        <div class="slds-col slds-grid slds-grid_align-end slds-size_3-of-6">
                            <div
                                class="slds-col slds-x-small-size--6-of-6 slds-small-size_6-of-6 slds-medium-size_4-of-6 slds-size_3-of-6">
                                Cloned From
                            </div>
                        </div>
                        <div class="slds-col slds-size_3-of-6 slds-truncate">
                            <a target="_blank" href={oldUserUrl}>{resultData.oldUser.Name}</a>
                        </div>
                    </div>
                    <div class="slds-grid slds-grid_align-center slds-m-around_medium">
                        <div class="slds-col slds-grid slds-grid_align-end slds-size_3-of-6">
                            <div
                                class="slds-col slds-x-small-size--6-of-6 slds-small-size_6-of-6 slds-medium-size_4-of-6 slds-size_3-of-6">
                                Generated Password?
                            </div>
                        </div>
                        <div class="slds-col slds-size_3-of-6">
                            <template if:true={resultData.advancedOptions.GeneratePassword}>
                                <div><b>Yes</b></div>
                            </template>
                            <template if:false={resultData.advancedOptions.GeneratePassword}>
                                <div><b>No</b></div>
                            </template>
                        </div>
                    </div>
                </template>
                <!-- Non reactive path-->
                <template if:false={contained}>
                    <div class="slds-grid slds-grid_align-center slds-m-around_medium">
                        <div class="slds-col slds-grid slds-grid_align-end slds-size_3-of-6">
                            <div class="slds-col slds-size_1-of-1">
                                New User
                            </div>
                        </div>
                        <div class="slds-col slds-size_3-of-6 slds-truncate">
                            <a target="_blank" href={newUserUrl}>{resultData.newUser.Name}</a>
                        </div>
                    </div>
                    <div class="slds-grid slds-grid_align-center slds-m-around_medium">
                        <div class="slds-col slds-grid slds-grid_align-end slds-size_3-of-6">
                            <div class="slds-col slds-size_1-of-1">
                                Cloned From
                            </div>
                        </div>
                        <div class="slds-col slds-size_3-of-6 slds-truncate">
                            <a target="_blank" href={oldUserUrl}>{resultData.oldUser.Name}</a>
                        </div>
                    </div>
                    <div class="slds-grid slds-grid_align-center slds-m-around_medium">
                        <div class="slds-col slds-grid slds-grid_align-end slds-size_3-of-6">
                            <div class="slds-col slds-size_1-of-1">
                                Generated Password?
                            </div>
                        </div>
                        <div class="slds-col slds-size_3-of-6">
                            <template if:true={resultData.advancedOptions.GeneratePassword}>
                                <div>Yes</div>
                            </template>
                            <template if:false={resultData.advancedOptions.GeneratePassword}>
                                <div><b>No</b></div>
                            </template>
                        </div>
                    </div>
                </template>
            </div>
        </div>
        <div class="slds-grid slds-grid_align-center slds-m-around_medium">
            <template if:true={contained}>
                <div
                    class="slds-col slds-x-small-size--6-of-6 slds-small-size_6-of-6 slds-medium-size_5-of-6 slds-large-size_4-of-6 slds-size_4-of-6">
                    <div class="slds-size_1-of-1">
                        <button class="slds-button btn-advanced fields-cloned" onclick={handleShowClonedFields}>
                            <span>Cloned Fields</span>
                            <template if:true={showClonedFields}>
                                <lightning-button-icon 
                                    icon-name="utility:down" variant="bare">
                                </lightning-button-icon>
                            </template>
                            <template if:false={showClonedFields}>
                                <lightning-button-icon
                                    icon-name="utility:right" variant="bare">
                                </lightning-button-icon>
                            </template>
                        </button>
                    </div>
                    <template if:true={showClonedFields}>
                        <hr class="fields-divider">
                        <div class="slds-grid slds-wrap slds-m-around_medium">
                            <div class="slds-size_1-of-1">
                                <button class="slds-button btn-advanced fields-cloned" onclick={handleShowStandardClonedFields}>
                                    <span>Standard Fields</span>
                                    <template if:true={showStandardClonedFields}>
                                        <lightning-button-icon 
                                            icon-name="utility:down" variant="bare">
                                        </lightning-button-icon>
                                    </template>
                                    <template if:false={showStandardClonedFields}>
                                        <lightning-button-icon
                                            icon-name="utility:right" variant="bare">
                                        </lightning-button-icon>
                                    </template>
                                </button>
                            </div>
                            <template if:true={showStandardClonedFields}>
                                <hr class="fields-divider">
                                <div class="slds-grid slds-wrap slds-m-around_medium">
                                    <template for:each={resultData.standardClonedFields} for:item=field>
                                        <div class="slds-col slds-medium-size_6-of-6 slds-size_6-of-6" key={field}>{field}</div>
                                    </template>
                                </div>
                            </template>
                            <div class="slds-size_1-of-1">
                                <button class="slds-button btn-advanced fields-cloned" onclick={handleShowCustomClonedFields}>
                                    <span>Custom Fields</span>
                                    <template if:true={showCustomClonedFields}>
                                        <lightning-button-icon 
                                            icon-name="utility:down" variant="bare">
                                        </lightning-button-icon>
                                    </template>
                                    <template if:false={showCustomClonedFields}>
                                        <lightning-button-icon
                                            icon-name="utility:right" variant="bare">
                                        </lightning-button-icon>
                                    </template>
                                </button>
                            </div>
                            <template if:true={showCustomClonedFields}>
                                <hr class="fields-divider">
                                <div class="slds-grid slds-wrap slds-m-around_medium">
                                    <template for:each={resultData.customClonedFields} for:item=field>
                                        <div class="slds-col slds-medium-size_6-of-6 slds-size_6-of-6" key={field}>{field}</div>
                                    </template>
                                </div>
                            </template>
                        </div>
                    </template>
                    <div class="slds-size_1-of-1 ">
                        <button class="slds-button btn-advanced fields-cloned" onclick={handleShowAdvOpts}>
                            Advanced Options
                            <template if:true={showAdvOpts}>
                                <lightning-button-icon
                                    icon-name="utility:down" variant="bare">
                                </lightning-button-icon>
                            </template>
                            <template if:false={showAdvOpts}>
                                <lightning-button-icon
                                    icon-name="utility:right" variant="bare">
                                </lightning-button-icon>
                            </template>
                        </button>
                    </div>
                    <template if:true={showAdvOpts}>
                        <hr class="fields-divider">
                        <div class="slds-grid slds-wrap slds-m-around_medium">
                            <template if:true={resultData.advancedOptions.PermissionSetAssignments}>
                                <div class="slds-size_6-of-6">
                                    Permission Set Assignments
                                </div>
                            </template>

                            <template if:true={resultData.advancedOptions.QueueMembership}>
                                <div class="slds-size_6-of-6">
                                    Queue Memberships
                                </div>
                            </template>
                            <template if:true={resultData.advancedOptions.PublicGroupMembership}>
                                <div class="slds-size_6-of-6">
                                    Public Group Memberships
                                </div>
                            </template>
                            <template if:true={resultData.advancedOptions.PermissionSetLicenseAssignments}>
                                <div class="slds-size_6-of-6">
                                    Permission Set License Assignments
                                </div>
                            </template>
                            <template if:true={resultData.advancedOptions.ChatterGroups}>
                                <div class="slds-size_6-of-6">
                                    Chatter Group Memberships
                                </div>
                            </template>
                        </div>
                    </template>

                    <!-- start cloned memeberships -->

                    <div class="slds-size_1-of-1 ">
                        <button class="slds-button btn-advanced fields-cloned" onclick={handleShowMemberships}>
                            Memberships and Assignments Cloned
                            <template if:true={showMemberships}>
                                <lightning-button-icon
                                    icon-name="utility:down" variant="bare">
                                </lightning-button-icon>
                            </template>
                            <template if:false={showMemberships}>
                                <lightning-button-icon
                                    icon-name="utility:right" variant="bare">
                                </lightning-button-icon>
                            </template>
                        </button>
                    </div>
                    <template if:true={showMemberships}>
                        <hr class="fields-divider">
                        <div class="slds-grid slds-wrap slds-var-m-around_medium">
                            <template for:each={resultData.clonedMemberships} for:item=field>
                                <div class="slds-col slds-size_1-of-1" key={field}>{field}</div>
                            </template>
                        </div>
                    </template>

                    <!-- end cloned memberships -->

                </div>
            </template>
            <!-- Non reactive path-->
            <template if:false={contained}>
                <div class="slds-col slds-size_1-of-1">
                    <div class="slds-size_1-of-1">
                        <button class="slds-button btn-advanced fields-cloned" onclick={handleShowClonedFields}>
                            <span>Cloned Fields</span>
                            <template if:true={showClonedFields}>
                                <lightning-button-icon
                                    icon-name="utility:down" variant="bare">
                                </lightning-button-icon>
                            </template>
                            <template if:false={showClonedFields}>
                                <lightning-button-icon
                                    icon-name="utility:right" variant="bare">
                                </lightning-button-icon>
                            </template>
                        </button>
                    </div>
                    <template if:true={showClonedFields}>
                        <hr class="fields-divider">
                        <div class="slds-grid slds-wrap slds-var-m-around_medium">
                            <template for:each={resultData.standardClonedFields} for:item=field>
                                <div class="slds-col slds-medium-size_6-of-6 slds-size_6-of-6" key={field}>{field}</div>
                            </template>
                        </div>
                    </template>
                    <div class="slds-size_1-of-1 ">
                        <button class="slds-button btn-advanced fields-cloned" onclick={handleShowAdvOpts}>
                            Advanced Options
                            <template if:true={showAdvOpts}>
                                <lightning-button-icon
                                    icon-name="utility:down" variant="bare">
                                </lightning-button-icon>
                            </template>
                            <template if:false={showAdvOpts}>
                                <lightning-button-icon
                                    icon-name="utility:right" variant="bare">
                                </lightning-button-icon>
                            </template>
                        </button>
                    </div>
                    <template if:true={showAdvOpts}>
                        <hr class="fields-divider">
                        <div class="slds-grid slds-wrap slds-m-around_medium">
                            <template if:true={resultData.advancedOptions.PermissionSetAssignments}>
                                <div class="slds-size_6-of-6">
                                    Permission Set Assignments
                                </div>
                            </template>

                            <template if:true={resultData.advancedOptions.QueueMembership}>
                                <div class="slds-size_6-of-6">
                                    Queue Memberships
                                </div>
                            </template>
                            <template if:true={resultData.advancedOptions.PublicGroupMembership}>
                                <div class="slds-size_6-of-6">
                                    Public Group Memberships
                                </div>
                            </template>
                            <template if:true={resultData.advancedOptions.PermissionSetLicenseAssignments}>
                                <div class="slds-size_6-of-6">
                                    Permission Set License Assignments
                                </div>
                            </template>
                        </div>
                    </template>

                    <div class="slds-size_1-of-1 ">
                        <button class="slds-button btn-advanced fields-cloned" onclick={handleShowMemberships}>
                            Memberships
                            <template if:true={showMemberships}>
                                <lightning-button-icon
                                    icon-name="utility:down" variant="bare">
                                </lightning-button-icon>
                            </template>
                            <template if:false={showMemberships}>
                                <lightning-button-icon
                                    icon-name="utility:right" variant="bare">
                                </lightning-button-icon>
                            </template>
                        </button>
                    </div>
                    <template if:true={showMemberships}>
                        <hr class="fields-divider">
                        <div class="slds-grid slds-wrap slds-m-around_medium">
                            <template for:each={resultData.clonedMemberships} for:item=field>
                                <div class="slds-col slds-size_1-of-1" key={field}>{field}</div>
                            </template>
                        </div>
                    </template>
                </div>
            </template>
        </div>
        <div class="slds-grid slds-wrap slds-grid_align-center slds-p-around_medium">
            <div class="slds-col slds-m-around_small">
                <lightning-button label="Clone Another User" onclick={handleBack}>
                </lightning-button>
            </div>
            <div class="slds-col slds-m-around_small">
                <lightning-button label="Clone This User Again" onclick={handleCloneAgain}>
                </lightning-button>
            </div>
            <template if:false={isMobile}>
                <div class="slds-col slds-m-around_small ctu-tooltip-holder">
                    <a class="slds-button slds-button_neutral " target='_blank'
                        href="/lightning/setup/ImportedPackage/home">View Managed Packages
                    </a>
                    <div class="ctu-tooltip slds-popover slds-popover_tooltip slds-nubbin_bottom-left">
                        <div class="slds-popover__body">In case you need to assign the new
                            user to a managed package that requires a license.</div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>