.container {
    background-color: white;
    font-size: 1.1em;
}

.success {
    text-align: center;
    color: #7ba119;
    font-size: 1.1em;
    background-color:#d8f482;
    font-weight: 700;
    padding: 10px;
}

.fields-cloned {
    font-weight: bold; 
    color: #999999 !important;
}

.fields-divider {
    background:#999999;
    height:2px;
    margin-top: 0px;
}


.btn-advanced {
    border: 0px;
    cursor:pointer;
}

.btn-advanced:hover {
    background-color: white;
}

.btn-advanced:focus {
    box-shadow: 0 0 0;
    background-color: white;
}

.ctu-tooltip-holder {
    position: relative;
}

.ctu-tooltip {
    visibility: hidden;
    position:absolute;
    left: 0;
    bottom: 40px;
}

.ctu-tooltip-holder:hover .ctu-tooltip {
    visibility: visible;
  }