<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            <!-- Modal/Popup Box LWC header here -->
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                    <lightning-icon icon-name="utility:close"
                        alternative-text="close"
                        variant="inverse"
                        size="small" ></lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Contact Support</h2>
            </header>
            <!-- Modal/Popup Box LWC body starts here -->
            <div class="slds-modal__content slds-var-p-around_medium" id="modal-content-id-1">
                <p><b>Clone This User was built by Arkus. Send us an email at <a href='mailto:support@arkusinc.com' target='_blank'>support@arkusinc.com</a> if you are experiencing an issue with this app and include as much information as you can.
                </b></p>
                <p><b>Contact us at <a href='https://www2.arkusinc.com/contact' target='_blank'>www2.arkusinc.com/contact</a> if you would like to learn more about Arkus or have questions about our consulting services.
                </b></p>
            </div>
            <!-- Modal/Popup Box LWC footer starts here -->
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button_brand" onclick={submitDetails} title="OK">OK</button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>