.result-card {
    margin-bottom: .75rem;
    margin-right: .75rem;
    margin-left: .75rem;
    overflow-wrap: break-word;
}

.result-card .slds-card:hover {
    border-color:rgb(221, 221, 221);;
    background-color: #f5f5f5;

}

.full-screen-result {
    background-color: white;
}

.info-field {
    font-size: 0.7rem;
}

.profile-name {
    font-size: 0.8rem;
}

.font-emphasis {
    font-weight: bold;
    white-space: break-spaces;
    margin-right: 5px;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}