<template>
    <div class="result-card" onclick={handleClick}>
        <article class="slds-card">
            <div class="slds-card__header slds-grid">
                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                    <div class="slds-media__figure">
                        <lightning-avatar src={photoUrl} size="large"></lightning-avatar>
                    </div>
                    <div class="slds-media__body">
                        <h2 class="slds-card__header-title slds-truncate">
                            <a class="slds-card__header-link slds-truncate" title={name}>
                                <div class="font-emphasis">{name}</div>
                            </a>
                        </h2>
                        <div class="profile-name">{profileName}</div>
                    </div>
                </header>
            </div>
            <div class="slds-card__body slds-card__body_inner">
                <div class="slds-grid slds-wrap slds-grid_align-spread slds-has-flexi-truncate">
                    <div class="slds-col slds-size_1-of-1">
                        <div class="slds-m-bottom_small text-overflow info-field">
                            <span class="font-emphasis">Username</span>
                            <span>{userName}</span>
                        </div>
                    </div>
                            <div
                            class="slds-col slds-size_1-of-1 info-field">
                            <div class="slds-m-bottom_small">
                                <span class="font-emphasis">Status</span>
                                <span class="text-overflow">{status}</span>
                            </div>
                        </div>
                        <div
                            class="slds-col slds-size_1-of-1 info-field">
                            <div class="slds-m-bottom_small ">
                                <span class="font-emphasis">User License</span>
                                <span class="text-overflow">{licenceName}</span>
                            </div>
                        </div>
                </div>
            </div>
        </article>
    </div>
</template>