<template>
    <div class="container">
        <template if:true={showModal}>
            <c-lwc-contact-support-modal onclosemodal={handleCloseModal}></c-lwc-contact-support-modal>
        </template>
        <template if:true={contained}>
            <template if:true={isSystemAdmin}>
                <div if:true={showUtility} class="settings-bar">
                    <a onclick={openSettings}>
                        <lightning-icon class="btn-click" icon-name="utility:settings" alternative-text="Settings" title="settings" ></lightning-icon>
                    </a>
                </div>
            </template>
            <template if:true={canViewLinks}>
                <div class="quick-links">
                    <div class="quick-links-container">
                        <c-lwc-quick-links onshowmodal={handleShowModal}></c-lwc-quick-links>
                    </div>
                </div>
            </template>
        </template>
        <div class="ctu-logo-container slds-var-p-top_large">
            <template if:true={contained}>
                <img src={logo} alt="CloneThisUser"
                    class="ctu-logo slds-small-size_6-of-6 slds-medium-size_4-of-6 slds-large-size_3-of-6" />
            </template>
        </div>
        <template if:true={canManageUsers}>
            <div class="slds-grid slds-grid_vertical">
                <div class="slds-col slds-align-middle">
                </div>
                <template if:true={contained}>
                    <div
                        class="slds-col slds-align-middle slds-x-small-size_6-of-6 slds-small-size_5-of-6 slds-medium-size_4-of-6 slds-size_4-of-6">
                        <c-lwc-clone-this-user-search onsearch={handleSearch} search={search}>
                        </c-lwc-clone-this-user-search>
                    </div>
                </template>
            </div>
        </template>
        <template if:false={canManageUsers}>
            <h1>{manageUsersMessage}</h1>
        </template>
        <template if:false={isInitialState}>
            <template if:false={hasResults}>
                <div class="slds-grid slds-grid_vertical">
                    <div class="slds-col slds-align-middle no-results">
                        <span>
                            No results found for {search}
                        </span>
                        <ul>
                            <b>Tips:</b>
                            <li>Make sure words are spelled correctly</li>
                            <li>Try different keywords</li>
                        </ul>
                    </div>
                </div>
            </template>
            <template if:true={hasResults}>
                <template if:true={moreresults}>
                    <h2 style="text-align: center;font-weight: bold;">There might be more results, be more specific with your search keywords</h2>
                </template>
                <div class="slds-grid slds-wrap">
                    <template for:each={results} for:item='item'>
                        <template if:false={contained}>
                            <div class="slds-col slds-size_1-of-1"
                                key={p}>
                                <c-lwc-clone-this-user-result contained={contained} user={item}></c-lwc-clone-this-user-result>
                            </div>
                        </template>
                        <template if:true={contained}>
                            <div class="slds-col slds-col slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2"
                                key={p}>
                                <c-lwc-clone-this-user-result contained={contained} user={item}></c-lwc-clone-this-user-result>
                            </div>
                        </template>
                    </template>
                </div>
            </template>
        </template>
        <div class="copyright">
            <img src={arkusLogo} class="arkus-logo" alt="Arkus"/>
            &nbsp;
            <h2>© 2014 - {version.packageYear} Arkus, Inc. v{version.packageVersion}</h2>
        </div>    
    </div>
</template>