.ctu-logo {
    margin: 0 auto;
}

.ctu-logo-container {
    text-align: center;
}

.container {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
    background-color: #F0F1F2;
    min-height: 100%;
}

.info-list {
    margin-top: 15px;
    margin-bottom: 30px;
    line-height: 2.2em;
    font-size: 1.0em;
}

.info-list ul {
    list-style-type: square;
    width: 100%;
    margin: auto;
}

.no-results ul {
    list-style: none;
    margin: 5em 0;
    padding: 0;
}

h1{
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 20px;
}
.settings-bar {
    text-align: right;
    
    
}
.btn-click {
    cursor: pointer;
    padding:   5px;
}

.arkus-logo {
    width: 50px;
}

.copyright{
    align-items: center;
    display: flex;
    float: right;
}